.mb-4 {
  margin-bottom: 4rem !important; }

* {
  padding: 0;
  margin: 0; }

body {
  position: relative; }
  body main {
    overflow: hidden; }

.siema {
  margin: 1rem 0; }

.dots__item--active {
  background: #fff; }

.sidenav .menu-sidenav-icon {
  margin-top: 30px;
  margin-bottom: 20px; }

.sidenav li {
  padding-bottom: 8px; }
  .sidenav li a {
    font-size: 19px;
    color: #9e9e9e;
    display: flex;
    justify-content: end;
    align-items: center; }
    .sidenav li a img {
      margin-right: 10px; }

.glue {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  background: #fff;
  padding: 6px 2px;
  border-radius: 15px; }
  .glue a {
    font-size: 30px;
    color: #e19630;
    padding: 2px 8px;
    border: 5px solid #e19630;
    border-radius: 13px; }

header {
  position: relative;
  width: 100%; }
  header .nav-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100; }
    header .nav-logo img {
      max-width: 180px; }
  header .siema-slider img {
    width: 100%; }
  header .siema-slider .secound-siema-slider {
    width: 100%;
    text-align: center; }
    header .siema-slider .secound-siema-slider img {
      width: 80%; }
  header .dots {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute; }
  header .dots__item {
    width: 15px;
    height: 15px;
    margin: 0 .5rem;
    border: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    outline: 0;
    cursor: pointer; }
  header .dots__item--active {
    background: #fff; }

.about-us {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #e5e6e7; }
  .about-us .row {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 600px) {
      .about-us .row {
        display: block; } }
    .about-us .row img {
      transition: all .3s ease; }
      .about-us .row img:hover {
        transform: scale(1.15); }
  .about-us h2, .about-us h4 {
    text-align: center;
    color: #60A9B9; }
  .about-us h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 5px; }
  .about-us h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 35px; }
  .about-us p {
    font-weight: 700;
    text-align: justify;
    margin: 10px 0; }
  .about-us .image-container {
    justify-content: center;
    align-items: center;
    display: flex; }
    .about-us .image-container img {
      width: 90%; }
  .about-us .btn-orange {
    background-color: transparent;
    border: 7px solid #D35F40;
    padding: 6px 15px;
    color: #D35F40;
    border-radius: 15px;
    font-weight: 800;
    font-size: 18px; }
  .about-us .dots {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute; }
  .about-us .dots__item {
    width: 15px;
    height: 15px;
    margin: 0 .5rem;
    border: 0;
    background-color: transparent;
    border: 2px solid #D35F40;
    border-radius: 50%;
    outline: 0;
    cursor: pointer; }
  .about-us .dots__item--active {
    background: #D35F40; }

.services {
  background-color: #e5e6e7;
  padding: 30px 0 30px 0; }
  .services > .container {
    width: 100%;
    max-width: 960px; }
  .services .l12 > .card {
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 21px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 21px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 21px -1px rgba(0, 0, 0, 0.75); }
    .services .l12 > .card h2 {
      color: #60A9B9;
      font-weight: 800;
      font-size: 40px;
      text-align: center;
      margin-bottom: 2px; }
    .services .l12 > .card h4 {
      text-align: center;
      font-size: 20px;
      margin-top: 5px;
      color: #60A9B9; }
    .services .l12 > .card .card {
      border: none;
      box-shadow: none; }
      .services .l12 > .card .card .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .services .l12 > .card .card .card-content img {
          width: 70%;
          font-weight: 600;
          margin-bottom: 18px;
          transition: all .3s ease; }
          .services .l12 > .card .card .card-content img:hover {
            transform: scale(1.15); }
        .services .l12 > .card .card .card-content h4 {
          font-weight: 700;
          font-size: 22px; }
        .services .l12 > .card .card .card-content p {
          text-align: center;
          font-size: 13px;
          line-height: 1.7;
          font-weight: 700; }

.team .container {
  width: 100%;
  max-width: 996px; }
  .team .container .bg-blue {
    background-color: #60A9B9; }
  .team .container .bg-indigo {
    background-color: #D35F40; }
  .team .container .bg-orange {
    background-color: #E19630; }
  .team .container > .row > .col {
    position: relative;
    padding: 0;
    padding-top: 100px;
    min-height: 640px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }
    @media screen and (max-width: 767px) {
      .team .container > .row > .col {
        min-height: 650px;
        padding-top: 10px; } }
    .team .container > .row > .col h3, .team .container > .row > .col h4, .team .container > .row > .col p {
      color: #fff;
      text-align: center;
      margin: 0; }
    .team .container > .row > .col h3 {
      margin-top: 20px;
      font-size: 22px;
      font-weight: 700; }
    .team .container > .row > .col h4 {
      font-size: 16px;
      font-weight: 400;
      margin-top: 5px; }
    .team .container > .row > .col p {
      padding: 20px;
      font-size: 14px;
      font-weight: 600;
      min-height: 200px; }
    .team .container > .row > .col img {
      transition: all .3s ease; }
      .team .container > .row > .col img:hover {
        transform: scale(1.15); }
    .team .container > .row > .col .title-text {
      position: absolute;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
      @media screen and (max-width: 767px) {
        .team .container > .row > .col .title-text {
          display: none; }
          .team .container > .row > .col .title-text.responsive {
            display: block !important; } }
      .team .container > .row > .col .title-text h2, .team .container > .row > .col .title-text h3 {
        text-align: center;
        color: #fff;
        margin: 0; }
      .team .container > .row > .col .title-text h2 {
        font-size: 34px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 50px; }

.proccess {
  background-color: #e5e6e7;
  padding: 30px 0 40px 0; }
  .proccess .col {
    display: flex;
    justify-content: center;
    align-items: center; }
  .proccess h2 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: #333333; }
  .proccess img {
    display: none; }
  @media screen and (max-width: 550px) {
    .proccess img.sm {
      display: block; } }
  .proccess img.md {
    display: none; }
    @media screen and (max-width: 790px) {
      .proccess img.md {
        display: block; } }
    @media screen and (max-width: 550px) {
      .proccess img.md {
        display: none; } }
  .proccess img.lg {
    display: none;
    max-width: 1140px; }
    @media screen and (min-width: 791px) {
      .proccess img.lg {
        display: block; } }

.benefits {
  position: relative;
  background-color: #e5e6e7;
  padding: 40px 0 0 0; }
  .benefits h2 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: #60A9B9;
    text-transform: uppercase; }
  .benefits .s12 .row {
    padding-left: 50px; }
    @media screen and (max-width: 767px) {
      .benefits .s12 .row {
        padding-left: 10px; } }
  .benefits ul {
    list-style: none;
    padding: 0; }
    .benefits ul li {
      padding-left: 10px;
      font-size: 15px;
      font-weight: 600;
      margin: 24px 0px; }
      @media screen and (max-width: 767px) {
        .benefits ul li {
          padding-left: 0px; } }
      .benefits ul li:before {
        content: "\f00c";
        /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        /* same as padding-left set on li */
        width: 1.3em;
        /* same as padding-left set on li */
        font-size: 20px;
        color: #E19630; }
  .benefits .stain-container {
    position: relative; }
    .benefits .stain-container .stain {
      position: absolute;
      width: 500px;
      left: -100%; }
      @media screen and (max-width: 767px) {
        .benefits .stain-container .stain {
          left: -60%;
          position: relative; } }

.countries {
  padding: 5px 0; }
  .countries .container {
    width: 100%;
    max-width: 996px; }
  .countries h2 {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    color: #E19630;
    margin: 5px 0; }
  .countries p {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 15px; }
  .countries .s3 {
    margin-top: 30px; }
  .countries .collapsible {
    border: none;
    box-shadow: none; }
    .countries .collapsible .collapsible-header {
      color: #E19630;
      font-size: 18px; }
    .countries .collapsible ul {
      list-style: none;
      padding: 0; }
      @media screen and (max-width: 992px) {
        .countries .collapsible ul {
          padding-left: 35px; } }
      .countries .collapsible ul li {
        padding-left: 10px;
        font-size: 15px;
        font-weight: 600;
        margin: 15px 0px;
        transition: all .3s ease; }
        .countries .collapsible ul li.hover {
          font-size: 19px; }
        .countries .collapsible ul li:before {
          content: "\f041";
          /* FontAwesome Unicode */
          font-family: FontAwesome;
          display: inline-block;
          margin-left: -1.3em;
          /* same as padding-left set on li */
          width: 1.3em;
          /* same as padding-left set on li */
          font-size: 20px;
          color: #E19630; }
  .countries .map-container {
    display: flex;
    justify-content: center;
    align-items: center; }

.faqs {
  background-color: #60A9B9;
  padding: 30px 0; }
  .faqs .image-container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .faqs .image-container img {
      width: 90%; }
  .faqs h2, .faqs h3 {
    color: #ffffff;
    text-align: left; }
  .faqs h2 {
    font-weight: 800;
    font-size: 50px;
    margin: 0; }
  .faqs h3 {
    font-weight: 600;
    font-size: 35px;
    margin: 0; }
  .faqs .collapsible {
    box-shadow: none;
    color: #fff;
    border: none; }
    .faqs .collapsible .collapsible-header {
      background-color: transparent;
      border: none;
      justify-content: flex-end; }
      .faqs .collapsible .collapsible-header p {
        text-align: right; }
    .faqs .collapsible .collapsible-body {
      justify-content: flex-end;
      border: none; }
      .faqs .collapsible .collapsible-body p {
        text-align: right; }

@media screen and (max-width: 767px) {
  .faqs .collapsible .collapsible-header {
    justify-content: center; }
    .faqs .collapsible .collapsible-header p {
      text-align: center; }
  .faqs .collapsible .collapsible-body {
    justify-content: center; }
    .faqs .collapsible .collapsible-body p {
      text-align: center; } }

.contact {
  padding: 50px 0; }
  .contact h2, .contact p {
    color: #E19630; }
  .contact h2 {
    font-weight: 800;
    margin: 0; }
    @media screen and (max-width: 767px) {
      .contact h2 {
        font-size: 40px; } }
  .contact p {
    margin: 0;
    font-size: 16px;
    font-weight: 500; }
  .contact .card {
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 21px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 21px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 21px -1px rgba(0, 0, 0, 0.75); }
    .contact .card .card-content form input, .contact .card .card-content form textarea {
      padding: 0 0 0 14px;
      color: #000;
      background-color: #e5e6e7;
      border-radius: 25px;
      border: none;
      font-size: 13px;
      height: 35px;
      width: 100%; }
      .contact .card .card-content form input:focus, .contact .card .card-content form textarea:focus {
        border: none;
        outline: none;
        border-bottom: none;
        box-shadow: none; }
      .contact .card .card-content form input::placeholder, .contact .card .card-content form textarea::placeholder {
        color: #383838;
        font-weight: 500; }
    .contact .card .card-content form textarea {
      padding: 14px 0 0 14px;
      max-width: 100%;
      min-width: 100%;
      max-height: 100px;
      min-height: 60px; }
    .contact .card .card-content form button {
      background-color: #fff;
      border: 2px solid #D35F40;
      border-radius: 10px;
      padding: 5px 20px;
      color: #D35F40;
      font-weight: 600;
      transition: all .3s ease; }
      .contact .card .card-content form button:hover {
        background-color: #D35F40;
        color: #fff;
        cursor: pointer; }
  .contact .coin-wallet-container {
    margin-top: 15px;
    min-height: 420px;
    position: relative; }
    @media screen and (max-width: 480px) {
      .contact .coin-wallet-container {
        min-height: 400px; } }
    @media screen and (max-width: 380px) {
      .contact .coin-wallet-container {
        min-height: 345px; } }
    .contact .coin-wallet-container img {
      position: absolute; }
    .contact .coin-wallet-container img.coin {
      animation: move 0.5s ease-in-out alternate infinite; }

@keyframes move {
  to {
    transform: translateY(-25px); }
  from {
    transform: translateY(0px); } }

footer {
  background-color: #D35F40;
  color: #fff;
  padding: 35px 0; }
  footer h4 {
    font-size: 18px;
    font-weight: 400; }
  footer h3 {
    margin-top: 20px; }
  footer .links ul {
    list-style: square; }
    footer .links ul li {
      font-size: 18px; }
      footer .links ul li:before {
        content: "\f0c8";
        /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        /* same as padding-left set on li */
        width: 1.3em;
        /* same as padding-left set on li */
        font-size: 14px;
        color: #fff; }
    footer .links ul a {
      color: #fff;
      text-decoration: none; }
      footer .links ul a:hover {
        color: #fff;
        text-decoration: none; }
  footer .description {
    padding: 20px 0 0 0 !important;
    text-align: center; }
    footer .description img {
      width: 80%;
      max-width: 200px; }
  footer .social ul li {
    display: flex;
    flex-direction: row;
    margin: 10px 0; }
    footer .social ul li span {
      font-size: 22px; }
    footer .social ul li div {
      margin-left: 18px; }
      footer .social ul li div a {
        color: #fff; }
