$orange: #E19630;
$indigo: #D35F40;
$blue: #60A9B9;

.mb-4 {
  margin-bottom: 4rem!important;
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}


.siema {
  margin: 1rem 0;
}

.dots {
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}

.dots__item {
  width: 15px;
  height: 15px;
  margin: 0 .5rem;
  border: 0;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.dots__item--active {
  background: #fff;
}

@import 'header';
@import 'about-us';

  