
  .siema {
    margin: 1rem 0;
  }
  
  .dots {
    display: flex;
    justify-content: center;
  }
  
  .dots__item {
    width: 15px;
    height: 15px;
    margin: 0 .5rem;
    border: 0;
    background-color: #ccc;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
  }
  
  .dots__item--active {
    background: blue;
  }