$orange: #E19630;
$indigo: #D35F40;
$blue: #60A9B9;
$light-blue: #e5e6e7;

.mb-4 {
  margin-bottom: 4rem!important;
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}


.siema {
  margin: 1rem 0;
}



.dots__item--active {
  background: #fff;
}

@import 'header';
@import 'about-us';
@import 'services';
@import 'team';
@import 'proccess';
@import 'benefits';
@import 'countries';
@import 'faqs';
@import 'contact';

  